{% extends "base.html" %} {% block Start %}

<div class="container mt-5 card p-3 shawdow-lg">
  <h3>Add Receipe</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3 ">
      <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
      <input
      name="receipe_name"
        type="text"
        class="form-control"/>
    </div>
    <div class="mb-3">
      <label  class="form-label">Receipe Description</label>
      <textarea name="receipe_descriptions" class="form-control"></textarea>
    </div>
        <div class="mb-3">
      <label  class="form-label">Receipe Description</label>
      <input name="receipe_image" type="file" class="form-control"></input>
    </div>

    <button type="submit" class=" w-100 btn btn-success">Save</button>
  </form>

  {% comment %} {{receipes}} {% endcomment %}
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Receipe name</th>
      <th scope="col">Receipe description</th>
      <th scope="col">Image</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {%  for receipe in receipes %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{receipe.receipe_name}}</td>
      <td>{{receipe.receipe_descriptions}}</td>
      <td><img src="/media/{{receipe.receipe_image}}" style=" height: 200px ; width: 200px; "></td>
      <td><a href="/update_receipe/{{receipe.id}}" class="mt-5 btn btn-primary">Update</a>
        <a href="/delete_receipe/{{receipe.id}}" class="mt-5 btn btn-danger">Delete</a>
      
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


</div>

{% endblock %}
